<!DOCTYPE html>
<html lang="en">
include layout/head.pug
<body>
   include layout/navbar.pug

<div class="about-content">
    <h2>About Us</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Praesentium incidunt sit quasi! Hic obcaecati libero eveniet nemo aliquid quasi aperiam,
     harum repudiandae?
    Amet modi quaerat nostrum voluptatem, placeat nobis veniam.</p>
</div>

include layout/footer
</body>
</html>