<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>File upload using nodejs</h1>
    <form action="/" method="post" enctype="multipart/form-data" class="w-25 mx-auto p-5">
    <div>

        <input type="file" name="data">
    </div>
    </form>
</body>
</html>