<nav style="display: flex; justify-content: space-between; align-items: center; padding:3px; background-color:blue; z-index:200;">
        <div class="site-title">
            <a href="/"><h2>Blog</h2></a>

        </div>
        <ul style="display: flex; margin:20px; font-size: 25px; margin:0; padding:0;">
            <ol><a href="/about">About</a></ol>
            <ol><a href="/blogs/create">New Blog</a></ol>
        </ul>
</nav>